@tailwind base;
@tailwind components;
@tailwind utilities;

/* 프리텐다드 - 라이선스 허용범위 100%  */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

/* 프리젠테이션 - 라이선스 허용범위 100%  */
@font-face {
  font-family: "Freesentation-9Black";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2")
    format("woff2");
  font-weight: 900;
  font-style: normal;
}

/* 산돌 삼립호빵체 Basic - 라이선스 허용범위 100%  */
@font-face {
  font-family: "SDSamliphopangche_Basic";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Basic.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  color: #000000;
  font-family: "Pretendard-Regular";
}

body {
  /* 모바일에서 터치 유지 시 선택되는 액션 방지 */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
